__pycache__/
apresentacao/
arquivo/
gabarito/
versionados/
*.pdf
*.txt
*.doc
*.docx
Avaliacao_Final_Growdev_MatEst.ipynb
00-onboarding/
0-orientacao_profissional/
01-introducao_a_dados/
08-banco_de_dados/